* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    background-color: f9faf8;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction:column;
    align-items: stretch;
    justify-content: space-between;
    min-height: 100vh;
    background-color: rgb(238, 241, 243);
}

.section {
 
    flex-grow: 1;
}

.section.header, .section.footer{
    padding: 1% 20%;
    height: 55px;
    background-color: #CD3F3F;
    
}

.section.header h1 {
    color: #F9F8F5;
}

.section.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.addBooks {
    background-color: #DDEDAA;
    align-self: stretch;
    color: #2F3E2C;
   

}

.inputs {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    max-width: 95%;
}

.form h1 {
    color: #568259;
}

.form-group {
    margin: 15px 40px;
}

.form-group input {
    width: 250px;
    color: #568259;
    background-color: #eef5d4;
}




.cards{
    background-color: #fff;

   
    flex-grow: 1;
    padding: 3% 15%;
    width: 75%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    row-gap: 30px;
    
}